<!DOCTYPE html>
<html>
  <head>
    <title>CribMapper</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBC3_NLCPRoTQ9GiRwHJ9bFzvS6_Znglj8" %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
